.header-wrapper {
    width: 100%;
}

/* Banner */
.banner-bg {
    height: 150px;
    background-size: cover;
    background-position: center;
}

/* Logo */
.logo-img {
    height: 100px;
    margin-left: 200px;
}

/* Menu */
.menu-item {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 13px;
}

.menu-item:hover {
    color: #007bff;
}

.search-input {
    width: 0;
    opacity: 0;
    transition: all 0.3s ease;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.menu-bar {
    min-height: 80px; /* hoặc 90px tùy bạn */
    display: flex;
    align-items: center;
}
